In [1]:
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\10698046\AppData\Local\Temp\ipykernel_19180\1492400551.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
scientists = pd.DataFrame(
 data ={
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61],
 },
 index =["Rosaline Franklin", "William Gosset"],
 columns =["Occupation", "Born", "Died", "Age"],
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [8]:
scientists = pd.DataFrame(
 {
 "Name": ["Rosaline Franklin", "William Gosset"],
 "Occupation": ["Chemist", "Statistician"],
 "Born": ["1920-07-25", "1876-06-13"],
 "Died": ["1958-04-16", "1937-10-16"],
 "Age": [37, 61],
 }
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [9]:
df = pd.read_csv("Youtube_Data.csv")

In [19]:
list(df.select_dtypes('number').columns)

['SFDC_OPPORTUNITY_CONTENT_SUBMISSION_METRICS_ID',
 'SUBMISSION_LIMIT',
 'COUNT_VIEWS',
 'COUNT_LIKES',
 'COUNT_DISLIKES',
 'COUNT_COMMENTS',
 'COUNT_SHARES',
 'ESTIMATED_MINUTES_WATCHED',
 'AVERAGE_VIEW_DURATION',
 'AVERAGE_VIEW_PERCENTAGE',
 'SUBSCRIBERS_GAINED',
 'PEAK_CONCURRENT_VIEW',
 'ENGAGEMENT',
 'TOTAL_REACH',
 'CONTENT_RATING',
 'APPLICANT_STATUS',
 'APPLICANT_APPROVED_BY',
 'APPLICANT_APPROVED_DTTM_GMT',
 'IS_PHYSICAL_CONTENT']

In [23]:
s1 = df['COUNT_VIEWS']
s2 = df['COUNT_LIKES']
print(len(s1),len(s2))

21370 21370

In [27]:
s1._append(s2)
print(s1.corr(s2))

0.09113396114453835

In [30]:
print(s1.cov(s2))

885465124.6160749

In [33]:
print(len(df.drop_duplicates()),len(df))

21370 21370

In [34]:
# here are 3 main parts to a Pandas DataFrame object the .index, .columns,
# and .values. These refer to the row name, column names, and data values,
# respectively

In [37]:
print(df.index)
print(df.columns)
print(df.values)

RangeIndex(start=0, stop=21370, step=1)
Index(['SFDC_OPPORTUNITY_CONTENT_SUBMISSION_METRICS_ID', 'SRC_METRIC_ID',
       'SRC_OPPORTUNITY_ID', 'SRC_CREATOR_ID', 'SRC_PARTICIPANT_ID',
       'SRC_OPPORTUNITY_MANAGER_ID', 'SRC_CONTENT_ID', 'SRC_EXTERNAL_ID',
       'OPPORTUNITY_NAME', 'FRANCHISE_NAME', 'GAME_NAME', 'CREATOR_NAME',
       'CREATOR_USERNAME', 'CREATOR_CHANNEL_TYPE', 'CREATOR_CHANNEL_NAME',
       'OPPORTUNITY_MANAGER_NAME', 'CONTENT_TITLE', 'CONTENT_URL',
       'CONTENT_TYPE', 'CONTENT_REVIEW_STATUS', 'OPPORTUNITY_CREATED_DTTM_GMT',
       'REGISTRATION_START_DTTM_GMT', 'REGISTRATION_END_DTTM_GMT',
       'EVENT_START_DTTM_GMT', 'EVENT_END_DTTM_GMT',
       'CONTENT_SUBMISSION_START_DTTM_GMT', 'CONTENT_SUBMISSION_END_DTTM_GMT',
       'CONTENT_UPLOAD_DTTM_GMT', 'CONTENT_SUBMISSION_DTTM_GMT',
       'METRICS_CAPTURED_DTTM_GMT', 'SUBMISSION_LIMIT', 'COUNT_VIEWS',
       'COUNT_LIKES', 'COUNT_DISLIKES', 'COUNT_COMMENTS', 'COUNT_SHARES',
       'ESTIMATED_MINUTES_WATCHED', 'AVERAGE_VIEW_DURATION',
       'AVERAGE_VIEW_PERCENTAGE', 'SUBSCRIBERS_GAINED', 'PEAK_CONCURRENT_VIEW',
       'ENGAGEMENT', 'TOTAL_REACH', 'CREATOR_JOINED_DTTM_GMT',
       'CONTENT_RATING', 'CURRENT_FLAG', 'OPPORTUNITY_END_DTTM_GMT',
       'ROW_CREATED_BY', 'ROW_CREATED_DTTM_GMT', 'ROW_MODIFIED_BY',
       'ROW_MODIFIED_DTTM_GMT', 'CREATOR_CATEGORY', 'APPLICANT_STATUS',
       'APPLICANT_APPROVED_BY', 'APPLICANT_APPROVED_DTTM_GMT',
       'IS_PHYSICAL_CONTENT', 'SOURCE_TYPE', 'OPPORTUNITY_TYPE'],
      dtype='object')
[[514918358 'ad13cf8c-2071-48f1-818b-2bd6f7f20061' 'a0M4x00000ZribuEAB'
  ... nan nan 'Marketing_Opportunity']
 [514918362 '61e7bb1e-28ed-42cc-8f43-9398010c09f3' 'a0M4x00000Zre6GEAR'
  ... 0.0 'SOCIAL' 'Marketing_Opportunity']
 [514918363 '3a9d96db-5466-4493-96f7-0f5c07029a8f' 'a0M4x00000bM8NQEA0'
  ... 0.0 'SOCIAL' 'Marketing_Opportunity']
 ...
 [45531162 '44b9d1f9-ba95-48fa-a7b2-eb9d69221e96' 'a0M4x000001WY0VEAW'
  ... 0.0 'SOCIAL' 'Marketing_Opportunity']
 [45457549 '0109a0ec-d6aa-4c3a-b31d-7eb5ee564647' 'a0M4x000001WY0CEAW'
  ... 0.0 'SOCIAL' 'Marketing_Opportunity']
 [45457648 '3f21528a-7a59-4429-8727-57d8e2e3f003' 'a0M4x000001WY0CEAW'
  ... 0.0 'SOCIAL' 'Marketing_Opportunity']]

In [42]:
# print(df['ROW_MODIFIED_DTTM_GMT'])
df['ROW_MODIFIED_DTTM_GMT']=pd.to_datetime(df['ROW_MODIFIED_DTTM_GMT'])
print(df['ROW_MODIFIED_DTTM_GMT'])

0       2024-01-24 02:08:49.006
1       2024-01-24 02:08:49.006
2       2024-01-24 02:08:49.006
3       2024-01-24 02:08:49.006
4       2024-01-24 02:08:49.006
                  ...
21365   2021-09-30 14:08:15.084
21366   2021-09-30 14:08:15.084
21367   2022-02-24 14:09:13.986
21368   2022-02-24 14:09:13.986
21369   2022-02-24 14:09:13.986
Name: ROW_MODIFIED_DTTM_GMT, Length: 21370, dtype: datetime64[ns]

In [62]:
df['ROW_MODIFIED_DTTM_GMT']=df['ROW_MODIFIED_DTTM_GMT'].astype('datetime64[ns]')
print(df['ROW_MODIFIED_DTTM_GMT'])

0       2024-01-24 02:08:49.006
1       2024-01-24 02:08:49.006
2       2024-01-24 02:08:49.006
3       2024-01-24 02:08:49.006
4       2024-01-24 02:08:49.006
                  ...
21365   2021-09-30 14:08:15.084
21366   2021-09-30 14:08:15.084
21367   2022-02-24 14:09:13.986
21368   2022-02-24 14:09:13.986
21369   2022-02-24 14:09:13.986
Name: ROW_MODIFIED_DTTM_GMT, Length: 21370, dtype: datetime64[ns]

In [64]:
df2 = df.select_dtypes('number')

In [66]:
df2.head()

,SFDC_OPPORTUNITY_CONTENT_SUBMISSION_METRICS_ID,SUBMISSION_LIMIT,COUNT_VIEWS,COUNT_LIKES,COUNT_DISLIKES,COUNT_COMMENTS,COUNT_SHARES,ESTIMATED_MINUTES_WATCHED,AVERAGE_VIEW_DURATION,AVERAGE_VIEW_PERCENTAGE,SUBSCRIBERS_GAINED,PEAK_CONCURRENT_VIEW,ENGAGEMENT,TOTAL_REACH,CONTENT_RATING,APPLICANT_STATUS,APPLICANT_APPROVED_BY,APPLICANT_APPROVED_DTTM_GMT,IS_PHYSICAL_CONTENT
0,514918358,NaN,35.0,5.0,0.0,2.0,1.0,132.0,362.0,60.0,0.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,514918362,NaN,6312.0,267.0,0.0,7.0,0.0,147.0,18.0,100.0,2.0,NaN,274.0,NaN,NaN,NaN,NaN,NaN,0.0
2,514918363,NaN,2317.0,151.0,0.0,4.0,1.0,697.0,18.0,36.0,1.0,NaN,156.0,NaN,NaN,NaN,NaN,NaN,0.0
3,514918369,NaN,283.0,0.0,0.0,0.0,0.0,81.0,17.0,59.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,514918373,NaN,2038.0,199.0,0.0,47.0,7.0,8321.0,354.0,58.0,0.0,NaN,253.0,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df3 = df2.assign(Total_Impressions=df2['COUNT_LIKES']+df2['COUNT_DISLIKES'])
print(df3['Total_Impressions'])

0           5.0
1         267.0
2         151.0
3           0.0
4         199.0
          ...
21365    2186.0
21366    1337.0
21367      78.0
21368    2143.0
21369    3749.0
Name: Total_Impressions, Length: 21370, dtype: float64